#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore =
    # Line break before binary operator (flake8 is wrong)
    W503
    # Missing docstring in magic method
    D105
    S404
    S603
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    data
max-line-length = 120
max-complexity = 20
import-order-style = pycharm
application-import-names =
    y0
    tests
format = ${cyan}%(path)s${reset}:${green_bold}%(row)d${reset}:${yellow}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
